[
  {
    "url" : "\/Clipboard.clipboard",
    "modifierFlags" : 1179648,
    "enabled" : false,
    "order" : 0,
    "hideIfActive" : false,
    "openSelectedFolders" : true,
    "keyCode" : 49,
    "openSelectedFiles" : true
  },
  {
    "order" : 1,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAJBQ19oqPVfM8WBiVZGvKz7XCskrEY7BKt9220GkpYW3TAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABpVGVybS5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACzMxIAAAAAAAgAAAAEAwAAn0gVAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxDUK5QAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcRbD\/2AAAAkAAAAAQEAAEYwNEUwQkYyLTZDNDMtNEVDMy04NUU2LTQwMzM4MTkzQzI2NBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "keyCode" : 17,
    "openSelectedFolders" : true,
    "enabled" : true,
    "hideIfActive" : false,
    "url" : "\/Applications\/iTerm.app",
    "openSelectedFiles" : true,
    "modifierFlags" : 917795
  },
  {
    "url" : "\/Applications\/IntelliJ IDEA.app",
    "enabled" : true,
    "order" : 2,
    "keyCode" : 34,
    "hideIfActive" : false,
    "modifierFlags" : 917795,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAAKqsDOEWaWLe62+zqaOuEUoO\/gnGtf+EC+z+ClE4F9nnVAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABJbnRlbGxpSiBJREVBLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAALMzEgAAAAAACAAAAAQDAADphhUAAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHEdqWsAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbnAAAACAAAAAAEAABBxFsP\/YAAACQAAAABAQAARjA0RTBCRjItNkM0My00RUMzLTg1RTYtNDAzMzgxOTNDMjY0GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "openSelectedFiles" : true,
    "openSelectedFolders" : true
  },
  {
    "url" : "\/Applications\/Visual Studio Code.app",
    "modifierFlags" : 917795,
    "keyCode" : 8,
    "bookmark" : "Ym9vazgCAAAAAAQQMAAAAH5C7Zp5zHZXESrzEsfp2s3jJKbWc+KmCJLQo\/YZAqo\/WAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zFgAAAAEBAABWaXN1YWwgU3R1ZGlvIENvZGUuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACzMxIAAAAAAAgAAAAEAwAAgzsVAAAAAAAIAAAAAQYAAFQAAABkAAAACAAAAAAEAABBxG8KUAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcRbD\/2AAAAkAAAAAQEAAEYwNEUwQkYyLTZDNDMtNEVDMy04NUU2LTQwMzM4MTkzQzI2NBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIgAABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAAABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAAAAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "enabled" : true,
    "order" : 3,
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "hideIfActive" : false
  },
  {
    "keyCode" : 13,
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "openSelectedFiles" : true,
    "enabled" : true,
    "modifierFlags" : 917795,
    "url" : "\/Applications\/Firefox.app",
    "order" : 4,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAK5AYm\/Wd4gTmtJ96IkQhru0Y348rDhEIUf9tXyGIKThTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABGaXJlZm94LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACzMxIAAAAAAAgAAAAEAwAAlicVAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxHhHpAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcRbD\/2AAAAkAAAAAQEAAEYwNEUwQkYyLTZDNDMtNEVDMy04NUU2LTQwMzM4MTkzQzI2NBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA=="
  },
  {
    "order" : 5,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAGt1oeKjZsgFItux+8K4nq\/9MvP0kf8X2df0KybSoJ0oTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTbGFjay5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACzMxIAAAAAAAgAAAAEAwAAo1ENAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxG3NOoAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcRbD\/2AAAAkAAAAAQEAAEYwNEUwQkYyLTZDNDMtNEVDMy04NUU2LTQwMzM4MTkzQzI2NBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "url" : "\/Applications\/Slack.app",
    "enabled" : true,
    "hideIfActive" : false,
    "modifierFlags" : 917795,
    "openSelectedFolders" : true,
    "keyCode" : 12,
    "openSelectedFiles" : true
  },
  {
    "url" : "\/Applications\/Overcast.app",
    "hideIfActive" : false,
    "openSelectedFiles" : true,
    "order" : 6,
    "enabled" : true,
    "openSelectedFolders" : true,
    "modifierFlags" : 917795,
    "keyCode" : 31,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAMxpGtE6qKGhh2cbowj+zPQJJXQtHG8G6hbmo9UjfW\/MTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDAAAAAEBAABPdmVyY2FzdC5hcHAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACzMxIAAAAAAAgAAAAEAwAAq+oTAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxHpo6wfnRRgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcRbD\/2AAAAkAAAAAQEAAEYwNEUwQkYyLTZDNDMtNEVDMy04NUU2LTQwMzM4MTkzQzI2NBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA=="
  },
  {
    "modifierFlags" : 917795,
    "enabled" : true,
    "openSelectedFolders" : true,
    "keyCode" : 35,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAPH6UjK1zfsFhtv7gh3VI3umlizL0b0CEwB6voZE90qlTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABTcG90aWZ5LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACzMxIAAAAAAAgAAAAEAwAAAgINAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxHGNvIAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcRbD\/2AAAAkAAAAAQEAAEYwNEUwQkYyLTZDNDMtNEVDMy04NUU2LTQwMzM4MTkzQzI2NBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "url" : "\/Applications\/Spotify.app",
    "openSelectedFiles" : true,
    "order" : 7,
    "hideIfActive" : false
  },
  {
    "keyCode" : 45,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAIbPWaQ6hdGRTmrsE1JOd2232kOjksMD0FTB0ZYb3EVjTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDAAAAAEBAABPYnNpZGlhbi5hcHAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACzMxIAAAAAAAgAAAAEAwAAoMMUAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxEg0mQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcRbD\/2AAAAkAAAAAQEAAEYwNEUwQkYyLTZDNDMtNEVDMy04NUU2LTQwMzM4MTkzQzI2NBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "url" : "\/Applications\/Obsidian.app",
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "modifierFlags" : 917795,
    "enabled" : true,
    "order" : 8,
    "openSelectedFiles" : true
  }
]