[
  {
    "enabled" : true,
    "openSelectedFiles" : true,
    "modifierFlags" : 917795,
    "url" : "\/Applications\/Slack.app",
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "keyCode" : 48,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAGt1oeKjZsgFItux+8K4nq\/9MvP0kf8X2df0KybSoJ0oTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTbGFjay5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACzMxIAAAAAAAgAAAAEAwAAo1ENAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxG3NOoAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcRbD\/2AAAAkAAAAAQEAAEYwNEUwQkYyLTZDNDMtNEVDMy04NUU2LTQwMzM4MTkzQzI2NBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "order" : 0
  },
  {
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAIbPWaQ6hdGRTmrsE1JOd2232kOjksMD0FTB0ZYb3EVjTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDAAAAAEBAABPYnNpZGlhbi5hcHAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACzMxIAAAAAAAgAAAAEAwAAoMMUAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxEg0mQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcRbD\/2AAAAkAAAAAQEAAEYwNEUwQkYyLTZDNDMtNEVDMy04NUU2LTQwMzM4MTkzQzI2NBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "url" : "\/Applications\/Obsidian.app",
    "modifierFlags" : 917795,
    "enabled" : true,
    "order" : 1,
    "openSelectedFolders" : true,
    "keyCode" : 12,
    "openSelectedFiles" : true,
    "hideIfActive" : false
  },
  {
    "keyCode" : 13,
    "url" : "\/Applications\/Firefox.app",
    "openSelectedFolders" : true,
    "order" : 2,
    "openSelectedFiles" : true,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAK5AYm\/Wd4gTmtJ96IkQhru0Y348rDhEIUf9tXyGIKThTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABGaXJlZm94LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACzMxIAAAAAAAgAAAAEAwAAlicVAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxHhHpAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcRbD\/2AAAAkAAAAAQEAAEYwNEUwQkYyLTZDNDMtNEVDMy04NUU2LTQwMzM4MTkzQzI2NBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "enabled" : true,
    "hideIfActive" : false,
    "modifierFlags" : 917795
  },
  {
    "bookmark" : "Ym9va9ACAAAAAAQQMAAAALE5OhnD4uhmvDHLxW3OzDGQ3HWq7Tj6k1PnyD2pHJiyzAEAAAQAAAADAwAAABgAKAUAAAABAQAAVXNlcnMAAAALAAAAAQEAAHN0ZXZlbndlYmVyAAwAAAABAQAAQXBwbGljYXRpb25zGgAAAAEBAABJbnRlbGxpSiBJREVBIFVsdGltYXRlLmFwcAAAEAAAAAEGAAAQAAAAIAAAADQAAABIAAAACAAAAAQDAAAVXQAAAAAAAAgAAAAEAwAA6OgDAAAAAAAIAAAABAMAAFRXDAAAAAAACAAAAAQDAAAZ9TUDAAAAABAAAAABBgAAhAAAAJQAAACkAAAAtAAAAAgAAAAABAAAQcV0qBp4wbQYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbnAAAACAAAAAAEAABBxVryfwAAACQAAAABAQAARjA0RTBCRjItNkM0My00RUMzLTg1RTYtNDAzMzgxOTNDMjY0GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+\/\/\/\/AQAAAAAAAAAQAAAABBAAAGwAAAAAAAAABRAAAMQAAAAAAAAAEBAAAOwAAAAAAAAAQBAAANwAAAAAAAAAAiAAALgBAAAAAAAABSAAACgBAAAAAAAAECAAADgBAAAAAAAAESAAAGwBAAAAAAAAEiAAAEwBAAAAAAAAEyAAAFwBAAAAAAAAICAAAJgBAAAAAAAAMCAAAMQBAAAAAAAAAcAAAAwBAAAAAAAAEcAAACAAAAAAAAAAEsAAABwBAAAAAAAAENAAAAQAAAAAAAAA",
    "keyCode" : 14,
    "enabled" : true,
    "openSelectedFiles" : true,
    "openSelectedFolders" : true,
    "url" : "\/Users\/stevenweber\/Applications\/IntelliJ IDEA Ultimate.app",
    "hideIfActive" : false,
    "order" : 3,
    "modifierFlags" : 917795
  },
  {
    "hideIfActive" : false,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAHPvPgEaOKIW4wQDqdtCMGj18fMB\/fXyFs6A8jwQ8NHPTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABXZXpUZXJtLmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABabC0DAAAAAAgAAAAEAwAA5k9AAwAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxS9\/sIAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcVa8n8AAAAkAAAAAQEAAEYwNEUwQkYyLTZDNDMtNEVDMy04NUU2LTQwMzM4MTkzQzI2NBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "url" : "\/Applications\/WezTerm.app",
    "openSelectedFolders" : true,
    "enabled" : true,
    "modifierFlags" : 917795,
    "order" : 4,
    "keyCode" : 15,
    "openSelectedFiles" : true
  },
  {
    "modifierFlags" : 917795,
    "order" : 5,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAP\/2XwC1mCKGtQhk4ElQbh2KFuVDXmDMeguV8ii+0QVPTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABQb3N0bWFuLmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAx3PIAAAAAAAgAAAAEAwAA7qDyAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxM1VWgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcTKe3SAAAAkAAAAAQEAAEYwNEUwQkYyLTZDNDMtNEVDMy04NUU2LTQwMzM4MTkzQzI2NBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "keyCode" : 17,
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Postman.app",
    "hideIfActive" : false,
    "enabled" : true
  },
  {
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "openSelectedFiles" : true,
    "keyCode" : 49,
    "url" : "\/Clipboard.clipboard",
    "order" : 6,
    "modifierFlags" : 1179648,
    "enabled" : false
  }
]